body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.drag-and-drop {
    font-family: 'Golos Text', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h4 {
    align-self: flex-start;
    margin-left: 40px;
    color: #152247;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.text {
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    color: #828282;
}

.loading-area {
    width: 520px;
    height: 120px;
    border-radius: 2px;
    border: 1px dashed #828282;
    background: #FFF;
    margin: 20px 40px;
}

.text-load {
    margin-top: 35px;
    color: #152247;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    line-height: 18px;
}

.text-annotation {
    color:#828282;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    margin-top: 0;
}

.load-text {
    color:#3964D8;
    font-size: 14px;
    font-style: normal;
    line-height: 18px;
    background: none;
    border: none;
    cursor: pointer;
}

.type-file {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 166px;
    height: 166px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #E5E5E5;
    background: #FFF;
    margin-bottom: 40px;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.delete-button svg {
    width: 10%;
    height: 10%;
}

.type-file-text-pdf {
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.10);
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    padding: 2px 5px;
    border-radius: 20px;
    background:#F15050;
}

.type-file-text-jpg {
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.10);
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    padding: 2px 5px;
    border-radius: 20px;
    background:#F2994A;
}

.type-file-text-jpeg {
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.10);
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    padding: 2px 5px;
    border-radius: 20px;
    background:#828282;
}

.container-file-extension {
    display: flex;
    gap: 10px;
}

.type-file {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-achievement {
    align-self: flex-start;
    margin-left: 40px;
    border-radius: 6px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    background: #3964D8;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.10);
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}

.drag-over {
    border: 2px dashed #3498db;
    background-color: rgba(52, 152, 219, 0.1);
    color: #3498db;
    transition: border-color 0.3s, background-color 0.3s;
}

.text-name-file {
    color: #152247;
    font-size: 14px;
    font-style: normal;
}

.retry-text {
    color: #3964D8;
    cursor: pointer;
}

.loader {
    display: flex; /* Используйте Flexbox */
    align-items: center; /* Центрировать элементы по вертикали */
    justify-content: flex-start; /* Расположение элементов в начале контейнера */
    gap: 10px; /* Расстояние между элементами внутри loader */
}

.loader-spinner {
    /* Ваши стили для спиннера */
    /* Пример: */
    border: 4px solid rgba(0, 0, 0, .1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Стили для текста загрузки и процентов, если требуется */
.loading-percent {
    /* Пример: */
    font-size: 16px;
    color: #000;
    /* Другие стили по желанию */
}